
extends layout

block content
    h1.
        show all order  adress filter 
    ul
        each ord, i in searchByFilterAddress
            li
               
                span Order ID : #{ord.orderId}      
                span Company Name:  #{ord.companyName}
                span Adress :  #{ord.customerAddress}
                span Order Item :  #{ord.orderItem}
    